<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
</head>
<body>
    <form action="" method="post">
        <label for="">Enter Number of accounts
            <input type="number" id="num" name="num" min="1" max="10" value="{{ num }}"><br>
        </label>
        {% for x in range(num) %}
            <input type="text" name="acc{{ x }}" id="acc{{ x }}" placeholder="Account {{x+1}}" value="{{ acclst[x] }}">
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>