<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chatbot</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='tailwind.css') }}"
		/>
	</head>
	<body>
		<button
			class="modal-open bg-transparent text-red-800 border border-red-500 text-4xl hover:border-red-500 hover:text-red-500 font-bold py-3 px-4 rounded-xl"
		>
			Disclaimer
		</button>

		<!--Modal-->
		<div
			class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center"
		>
			<div
				class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"
			></div>
			<!-- Above div can be changed to change the width of modal -->

			<div
				class="modal-container bg-white w-screen lg:w-1/3 h-auto mx-auto rounded shadow-lg z-50 overflow-y-auto"
			>
				<div
					class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50"
				>
					<svg
						class="fill-current text-white"
						xmlns="http://www.w3.org/2000/svg"
						width="18"
						height="18"
						viewBox="0 0 18 18"
					>
						<path
							d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
						></path>
					</svg>
					<span class="text-sm">(Esc)</span>
				</div>

				<!-- Add margin if you want to see some of the overlay behind the modal-->
				<div class="modal-content py-4 text-left px-6">
					<!--Title of modal-->
					<div class="flex justify-between items-center pb-3">
						<p class="text-5xl font-bold">Disclaimer</p>
						<div class="modal-close cursor-pointer z-50">
							<svg
								class="fill-current text-black"
								xmlns="http://www.w3.org/2000/svg"
								width="18"
								height="18"
								viewBox="0 0 18 18"
							>
								<path
									d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
								></path>
							</svg>
						</div>
					</div>

					<!--Body-->
					<p class="text-2xl font-thin py-10">
						Your information won't be stored as the developer
						doesn't know how to work with databases! Enter your
						Instagram username and password, please shut and do not
						open your Instagram until you are done using the website
						you may. Instagram may ask for verification please
						co-operate and do not worry about a device name "6-T"
						signing in
					</p>

					<!--Footer-->
					<div class="flex justify-end pt-2">
						<button
							class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400"
						>
							Close
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Script for opening and closing the modal on click and always opening it on page load -->
		<script>
			var openmodal = document.querySelectorAll(".modal-open");
			for (var i = 0; i < openmodal.length; i++) {
				openmodal[i].addEventListener("click", function (event) {
					event.preventDefault();
					toggleModal();
				});
			}

			const overlay = document.querySelector(".modal-overlay");
			overlay.addEventListener("click", toggleModal);

			var closemodal = document.querySelectorAll(".modal-close");
			for (var i = 0; i < closemodal.length; i++) {
				closemodal[i].addEventListener("click", toggleModal);
			}

			document.onkeydown = function (evt) {
				evt = evt || window.event;
				var isEscape = false;
				if ("key" in evt) {
					isEscape = evt.key === "Escape" || evt.key === "Esc";
				} else {
					isEscape = evt.keyCode === 27;
				}
				if (
					isEscape &&
					document.body.classList.contains("modal-active")
				) {
					toggleModal();
				}
			};

			function toggleModal() {
				const body = document.querySelector("body");
				const modal = document.querySelector(".modal");
				modal.classList.toggle("opacity-0");
				modal.classList.toggle("pointer-events-none");
				body.classList.toggle("modal-active");
			}
			window.onload = toggleModal();
		</script>

		<div class="py-5"></div>

		<h1
			class="font-normal bg-gradient-to-r from-violet-900 via-purple-800 to-yellow-700 bg-clip-text text-transparent text-5xl lg:text-8xl mb-10 lg:mb-32 pl-5"
		>
			Welcome to Chatbot!
		</h1>
		<form
			class="flex flex-col lg:flex-row justify-center items-center gap-10"
			action=""
			method="post"
		>
			<label for="username"
				>Username <input type="text" id="username" name="username"
			/></label>

			<label for="pass"
				>Password
				<input type="password" id="pass" name="pass" />
			</label>
			<button
				class="text-white bg-accent hover:bg-opacity-60 focus:outline-none font-medium rounded-xl text-md px-10 py-2.5 lg:py-5 text-center m-auto"
				type="submit"
				onclick="displayText()"
			>
				Submit
			</button>
		</form>
		<script>
			function displayText() {
				var text = document.getElementById("text");
				text.style.display = "block";
			}
		</script>
		<div
			class="text-3xl lg:text-6xl font-light italic"
			id="text"
			style="display: none"
		>
			Please Wait...
		</div>
		{% with messages = get_flashed_messages() %} {% if messages %} {% for x
		in messages %} {{ x }} {% endfor %} {% endif %} {% endwith %}
	</body>
</html>
