<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='tailwind.css') }}"
		/>
		<title>Chatbot | Sending Message</title>
	</head>
	<body>
		<form
			class="flex flex-col justify-center text-center gap-10"
			action=""
			method="post"
		>
			<label for="msg" class="pb-5"
				>Enter Message
				<br />
				<br />
				<input type="text" id="msg" name="msg" />
			</label>
			<button
				class="text-white bg-accent hover:bg-opacity-60 focus:outline-none font-medium rounded-xl text-md px-10 py-2.5 lg:py-5 text-center m-auto"
				type="submit"
			>
				Submit
			</button>
		</form>
	</body>
</html>
